body{
    margin:0;
    padding: 0;
    background: url('images/fiesta.jpg') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Righteous', cursive,'san-serif';
}
.bienvenida{
    font-size: 35px;
}
.enlaces{
    margin-top: 130px;
}
.enlace2{
    margin-left: 2px;
}
.share{
    font-size: 25px;
}
.styleO, a{
    display: inline;
    margin-left: 125px;
    text-decoration: none;
    color: blanchedalmond;
    text-shadow: 2px 2px grey;
    font-family: 'Righteous', cursive,'san-serif';
    font-size: 40px;
}
a:hover {
    font-size:50px;
    color:gray;
  }

#alineacion h1{
    text-align: center;
    font-family: 'Righteous', cursive,'san-serif';
         color:white;
         font-size: 120px;
         margin:2px;
         text-shadow: 6px 8px gray;
         /*height: 500px; width: 1500px;*/
         height: 200px;  
      
}
.bienvenida{
    font-family: 'Righteous', cursive,'san-serif';
    text-align: center;
    color: black;
}
.continue{
    margin-left: 600px;
}

.alineacionAli{ /* para centrar botones */
    display: flex;
    justify-content: center;
}
.textIndi{
    color: grey;
    text-shadow: 1px 1px white;
    text-align: center;
    font-size: 30px;
}
.message, .message1{
width:50%;
border: 3px solid #aaa;
outline:none;
padding:15px;
box-sizing: border-box;
border-radius: 30px;
text-align: center;
}
.position, .position1{
width:9%;
border: 3px solid #aaa;
margin: auto;
outline:none;
padding:13px;
box-sizing: border-box;
border-radius: 30px;
}

.button-color, .button-color1{
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 500px;
    width:15%;
    padding:10px;
    border-radius: 10px;
}

.botondescifrar, #button-color{
    width:15%;
    padding:10px;
    border-radius: 5px;
}

.resultado, .resultado1{
    width:60%;
    border-radius: 30px;
    box-sizing: border-box;
    border: 3px solid #aaa;
    outline:none;
    text-align: center;
    padding: 8px;
}

#P_descifrar{
    text-align: center;
    padding-bottom: 20px;
    border: white 3px solid;
    padding-top: 20px;
    width: 95%;
    margin-left: 25px;
    margin-top: 35px;
}

#P_Cifrar{
    text-align: center;
    padding-bottom: 20px;
    border: white 3px solid;
    padding-top: 20px;
    width: 95%;
    margin-left: 25px;
    margin-top: 220px;
    margin-bottom: 150px;
}

img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.despedida{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    color:white;
    text-shadow: 2px 3px grey;
}
.regresoInicio{
    font-size: 30px;
}